pandas
nltk==3.8.1
torch>=2.0.0
transformers>=4.33.0
datasets
evaluate
streamlit
rapidfuzz
seaborn
matplotlib
requests
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
